{% if include.session.size > 0 %}
  {% assign session = include.session %}
  <div class="session__title"><a href="{{ session.url }}">{{ session.title }}</a></div>
  <div class="session__speaker">{{ session.speaker }}</div>
  <div class="session__language--{{ session.languages }}">{{ session.languages }}</div>
  {% if session.level %}
  <div class="session__level--{{ session.level | downcase }}"></div>
  {% endif %}
  {% if session.sessionSlides %}
  <div class="sssession__slides">
    {% for item in session.sessionSlides %}
      <a class="button slim" href="{{ item.src }}" alt="" target="_blank"><span class="session__slides__icon"></span> {{ T.session_slides[current_language] }}</a>
    {% endfor %}
  </div>
  {% endif %}
{% endif %}
