          <section id="schedule" class="wrapper style4">
            <div class="inner">
              <h2>{{ T.schedule }}</h2>
              <div class="table-wrapper">
                <table>
                  <thead>
                    <tr>
                      <th width="33%">Divendres 8</th>
                      <th width="33%">Dissabte 9</th>
                      <th width="33%">Diumenge 10</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <ul>
                          <li>Tallers</li>
                          <li>Sprints</li>
                        </ul>
                      </td>
                      <td>
                        <ul>
                          <li>Sessions</li>
                          <li>Sprints</li>
                          <li><a href="summer-night-ca.html">Summer party!</a></li>
                        </ul>
                      </th>
                      <td>
                        <ul>
                          <li>Sprints</li>
                          <li>Mentoring session / Iniciació contribució</li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p>Totes les xerrades i sessions de formació estan incloses a l'entrada.</p>

                <p class="text-centered"><a href="schedule-friday.html" class="button ">Horari divendres</a> <a href="schedule-saturday.html" class="button special">Horari dissabte</a> <a href="schedule-sunday.html" class="button ">Horari diumenge</a> <p>
              </div>
            </div>
          </section>
