          <section id="tickets" class="wrapper style6 special">
            <div class="inner">
              <header class="major">
                <h2>{{ T.buy_tickets[current_language] }}</h2>
                <p>{{ T.buy_tickets_message[current_language] }}</p>
                <div style="width:100%; text-align:left;"><iframe src="//eventbrite.es/tickets-external?eid=33459639683&ref=etckt" frameborder="0" height="890" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="http://www.eventbrite.es/">Con tecnología de Eventbrite</a></div></div>
              </header>
              <footer class="footnote">
                {{ T.tickets_footnote[current_language] | markdownify }}
              </footer>
            </div>
          </section>
