          <section id="where" class="wrapper style1 special">
            <div class="inner">
              <header class="major">
                <h2>{{ T.where[current_language] }}</h2>
                <p><a href="http://citilab.eu" target="_blank">Citilab</a><br/>
                Plaça Can Suris s/n, Cornellà de Llobregat, Barcelona<br/>
                <a href="https://www.google.es/maps/place/Citilab/@41.357154,2.058985,12.31z/data=!4m12!1m6!3m5!1s0x12a49be12d2cd0b3:0x9dea6104076f633e!2sCitilab!8m2!3d41.359827!4d2.061749!3m4!1s0x12a49be12d2cd0b3:0x9dea6104076f633e!8m2!3d41.359827!4d2.061749">{{ T.map[current_language] }}</a></p>
                <p><img src="/assets/images/citilab-logo.png" alt="Logo del Citilab" title="Logo del Citilab" /></p>
              </header>
            </div>
          </section>
