          <section id="sponsors" class="wrapper style5 special">
            <div class="inner">
              <header class="major">
                <h2>{{ T.sponsors[current_language] }}</h2>
                <ul class="sponsor__list">
                  {% for sponsor in site.data.sponsors %}
                  <li class="sponsor"><a class="sponsor__link" href="{{ sponsor.url }}" target="_blank"><img class="sponsor__img{{ sponsor.class-modifier }}" src="{{ sponsor.logo }}" alt="{{ sponsor.name }} logo" title="{{ sponsor.name }}" /></a></li>
                  {% endfor %}
                </ul>
                <h3>{{ T.partners[current_language] }}</h3>
                <ul class="sponsor__list">
                  {% for partner in site.data.partners %}
                  <li class="sponsor"><a class="sponsor__link" href="{{ partner.url }}" target="_blank"><img class="sponsor__img{{ partner.class-modifier }}" src="{{ partner.logo }}" alt="{{ partner.name }} logo" title="{{ partner.name }}" /></a></li>
                  {% endfor %}
                </ul>
                <h4 class="sponsor__title">{{ T.logo_here[current_language] }} </h4>

                <p class="sponsor__text">{{ T.sponsors_text[current_language] }} <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
                <a href="{{ T.sponsors_file[current_language] }}?{{ site.data['hash'] }}" class="button special" target="_blank">{{  T.see_sponsors[current_language] }}</a>
              </header>
            </div>
          </section>
