          <section id="cfp" class="wrapper style5 special">
            <div class="inner">
              <header class="major">
                <h2 class="cfp__title">
                  {{ T.cfp.title[current_language] }}
                </h2>
                <div class="sponsor__text">
                  <p>{{ T.cfp.text[current_language] | markdownify }}</p>
                </div>
                <a href="https://goo.gl/forms/VpcR6NdOjnrO1dGT2" class="button special">{{ T.cfp.button[current_language] }}</a>
                <p><a href="{{ T.cfp.info_link[current_language] }}" class="cfp__more-info">{{ T.cfp.info[current_language] }}</a> - <a href="{{ T.cfp.proposed_sessions_link[current_language] }}" class="cfp__more-info">{{ T.cfp.proposed_sessions[current_language] }}</a> </p>
              </header>
            </div>
          </section>
