          <section id="schedule" class="wrapper style4">
            <div class="inner">
              <h2>{{ T.schedule[current_language] }}</h2>
              <div class="table-wrapper">
                <table>
                  <thead>
                    <tr>
                      <th width="33%">{{ T.friday[current_language] }}</th>
                      <th width="33%">{{ T.saturday[current_language] }}</th>
                      <th width="33%">{{ T.sunday[current_language] }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <ul>
                          <li>{{ T.workshops[current_language] }}</li>
                          <li>{{ T.sprints[current_language] }}</li>
                        </ul>
                      </td>
                      <td>
                        <ul>
                          <li>{{ T.sessions[current_language] }}</li>
                          <li>{{ T.sprints[current_language] }}</li>
                          <li>{{ T.summer_party[current_language] }}</li>
                        </ul>
                      </td>
                      <td>
                        <ul>
                          <li>{{ T.sprints[current_language] }}</li>
                          <li>{{ T.mentoring_session[current_language] }}</li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p>{{ T.sessions_included[current_language] }}</p>
              </div>
            </div>
          </section>
