          <section id="training" class="wrapper style7 special">
            <div class="inner">
              <header class="major">
                <h2>{{ T.training.title[current_language] }}</h2>
                <p>{{ T.training.text[current_language] }}</p>
                <a href="{{ T.cfp.proposed_sessions_link[current_language] }}" class="button">Dupal 8 - Site building</a>
                <a href="{{ T.cfp.proposed_sessions_link[current_language] }}" class="button">Dupal 8 - Back-End</a>
              </header>
            </div>
          </section>
