          <section id="banner" class="banner">
            <div class="inner">
              <div class="banner__border"></div>
              <div class="banner__logo">
                  <img class="banner__logo-image" src="/assets/images/drupal-summer-logo.svg" />
              </div>
              <h2 class="banner__slogan">
              {{ T.slogan }}<br/>
                <strong>{{ T.event_date }}</strong>
                </h2>
            </div>
            <a href="#one" class="more scrolly">{{ T.learn_more }}</a>
          </section>
