          <section id="banner" class="banner">
            <div class="inner">
            <div class="banner__logo"><img class="banner__logo-image" src="/assets/images/logo-white.svg" /></div>
              <h2 class="banner__slogan">
              {{ site.t[current_language].slogan }}<br/>
                <strong>{{ site.t[current_language].event_date }}</strong>
                </h2>
            </div>
            <a href="#one" class="more scrolly">{{ site.t[current_language].learn_more }}</a>
          </section>
