          <section id="banner" class="banner">
            <div class="inner">
              <div class="banner__border"></div>
              <div class="banner__logo">
                  <img class="banner__logo-image" src="/assets/images/drupal-summer-logo.svg" />
              </div>
              <h2 class="banner__slogan">
                <strong>{{ T.event_date[current_language] }}</strong>
              </h2>
            </div>
            <a href="#one" class="more scrolly">{{ T.learn_more[current_language] }}</a>
          </section>
