          <section id="speakers" class="wrapper style2 special">
            <div class="inner">
              <header class="major">
                <h2>{{ T.featured_speakers[current_language] }}</h2>
                <div class="speakers-list">
                  <a class="speaker" href="session/debugging-drupal8.html">
                    <img class="speaker__img" src="/assets/images/speakers/juampynr.jpg" />
                    <span class="speaker__name">Juampy NR</span>
                  </a>
                  <a class="speaker" href="session/d8rules.html">
                    <img class="speaker__img" src="/assets/images/speakers/josef-dabernig.jpg" />
                    <span class="speaker__name">Josef Dabernig</span>
                  </a>
                  <a class="speaker" href="session/drupal8-mejoras-internacionalizacion.html">
                    <img class="speaker__img" src="/assets/images/speakers/penyaskito.jpg" />
                    <span class="speaker__name">Christian López</span>
                  </a>
                  <a class="speaker" href="session/renderizar-bloques-campos-cache.html">
                    <img class="speaker__img" src="/assets/images/speakers/jjcarrion.jpg" />
                    <span class="speaker__name">Jose Jiménez</span>
                  </a>
                </div>
              </header>
            </div>
          </section>