<div class="schedule-container">
  <div class="card">
    <div class="card__title">
      {{ T.thursday[current_language] }}
    </div>
    <div class="card__detail">
      <ul>
        <li><a href="{{ T.workshops_basic_link[current_language] }}">{{ T.workshops_basic[current_language] }}</a></li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card__title">
      {{ T.friday[current_language] }}
    </div>
    <div class="card__detail">
      <ul>
        <li><a href="{{ T.workshops_advanced_link[current_language] }}">{{ T.workshops_advanced[current_language] }}</a></li>
        <li>{{ T.sprints[current_language] }}</li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card__title">
      {{ T.saturday[current_language] }}
    </div>
    <div class="card__detail">
      <ul>
        <li>{{ T.sessions[current_language] }}</li>
        <li>{{ T.sprints[current_language] }}</li>
        <li>{{ T.summer_party[current_language] }}</li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card__title">
      {{ T.sunday[current_language] }}
    </div>
    <div class="card__detail">
      <ul>
        <li>{{ T.mentoring_session[current_language] }}</li>
        <li>{{ T.sprints[current_language] }}</li>
      </ul>
    </div>
  </div>
</div>
