---
layout: default
---
<article id="main">

  <header>
    <h2>{{ page.title }}</h2>
    {% if page.subtitle %}<p>{{ page.subtitle }}</p>{% endif %}
  </header>

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
    {% if page.gallery %}
      <div class="gallery">
      {% for item in page.gallery %}
        <img src="{{ item.img }}" alt="">
      {% endfor %}
      </div>
    {% endif%}
  </section>
  {% if page.no-social-share == nil %}
    {% include social-share.html %}
  {% endif %}

</article>
