---
layout: default
---
{% include get-current-language.html %}
{% assign T = site.data.translations %}
{% assign session = site.data.accepted-sessions | where:'id', page.tid | first %}
<article id="main">

  <header>
    <h2>{{ page.title }}</h2>
    {% if page.subtitle %}<p>{{ page.subtitle }}</p>{% endif %}
  </header>

  <section class="wrapper style5">
    <div class="inner">
      <div class="session__speaker">
        <h3>by {% if page.speaker.drupal %}<a href="https://www.drupal.org/u/{{ page.speaker.drupal }}" target="_blank">{{ page.speaker.name}}</a>{% else %}{{ page.speaker.name}}{% endif %}</h3>
      </div>
      <p>
        {% if page.date %}{{ page.date | prepend: "<strong>Fecha:</strong> " }}<br/>{% endif %}
        {% if page.place %}{{ page.place | prepend: "<strong>Lugar:</strong> "}}<br/>{% endif %}
        {% if page.time %}{{ page.time | prepend: "<strong>Horario:</strong> "}}<br/>{% endif %}
        {% if page.seatingCapacity %}{{ page.seatingCapacity | prepend: "<strong>Plazas:</strong> "}}<br/>{% endif %}
        {% if page.speakingLanguage %}{{ page.speakingLanguage | prepend: "<strong>Idioma:</strong> "}}{% endif %}
      </p>

      {% if session.sessionSlides %}
      <div class="session__slides">
        {% for item in session.sessionSlides %}
          <a class="button" href="{{ item.src }}" alt="" target="_blank"><span class="session__slides__icon"></span> {{ T.session_slides[current_language] }}</a>
        {% endfor %}
      </div>
      {% endif %}

      {{ session.description | markdownify }}

      {{ content }}

    </div>
  </section>

</article>
